---
import Layout from "@/layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Page Not Found" description="Page Not Found">
  <main
    class="max-w-2xl h-screen p-2 gap-8 w-full mx-auto flex flex-col items-center justify-center"
  >
    <h1 class="text-4xl font-bold">404 - Page Not Found</h1>
  </main>
</Layout>
