---
import "@fontsource-variable/inter";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Shortlink Dashboard" />
    <link rel="apple-touch-icon" href="/icon.png" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>{title} | Shortlink Dashboard</title>
  </head>
  <body class="text-white bg-black min-h-screen w-screen font-inter">
    <slot />
  </body>
</html>

<style is:global>
  input {
    @apply placeholder:text-[#525252];
  }
</style>
